@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Kanit:wght@500&display=swap');

body {
    margin: auto;
    width: 80%;
    font-family: "Inter", sans-serif;
}

.logo {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-transform: lowercase;
    margin: 24px auto;
}

.header {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 120px;
    margin: 64px auto;
}

.information {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 4px;
}

.squares {
    display: flex;
    flex-direction: row;
    column-gap: 14px;
}

.square {
    background: #E1E0E6;
    width: 20px;
    height: 20px;
}

.content-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.gray-text {
    opacity: 0.5;
}

.content-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 36px;
}

.content-footer-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
}

.language {
    width: 107px;
    height: 30px;
    background: linear-gradient(0deg, rgba(8, 30, 52, 0.12), rgba(8, 30, 52, 0.12)), #FFFBFE;
    border-radius: 100px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #081E34;
}

.element {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    margin-bottom: 45px;
}

.elementContent {
    width: 755px;
}

.textContent {
    width: 693px;
    margin-top: 48px;
}

.imgContent {
    width: 265px;
    height: 265px;
    padding-left: 40px;
}

.content-topic {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}

.content-paragraph {
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.credits {
    display: flex;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: #081E34;
    opacity: 0.5;
    margin-top: 778px;
}

.credits a {
    color: #081E34;
    opacity: 1;
}

.end-footer {
    margin: 32px 0;
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #081E34;
}
